.wrapper {
    background-color: blanchedalmond;
    width: 300px;
    padding: 20px;
    border: 5px solid brown;
    margin: 50px auto
}

.wrapper p {
    color: red;
}
























/* 

# - id="" za tacno neki tag
. - class="" za vise puta

*/