body {
    background-color: #cc9966;

}

.wrapper {
    width: 950px;
    padding: 15px;
    background-color: white;
    margin: 20px auto 0;
}
.header {
    background-color: #8cc63f;
    height: 150px;
}
.navigacija {
    background-color: gray;
    height: 40px;
    margin-top: 15px;
}
.footer {
    background-color: gray;
    height: 40px;
    margin-bottom: 15px;
}
.centralni {

    display: flex;
}