body {
    background-color: #cc9966;
}
.wrapper {
    width: 950px;
    padding: 15px;
    background-color: white;
    margin: 20px auto 0;
}
.heading {
    background-color: #8cc63f;
    height: 150px;
}
.nav {
    background-color: #534741;
    height: 40px;
    margin: 15px auto;
}
.centralni {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}
.main{
    flex-basis: 640px;
}
.sider {
    flex-basis: 280px;
}
.donji {
    background-color: #534741;
    height: 40px;
}
.imgright {
    float: right;
    margin: 0 0 10px 20px;
}
.block {
    border: solid gray 1px;
    margin: 15px;
    padding: 15px;
}
#poseban {
    background-color: lime;
    position: fixed;
    left: 0;
    top: 0;
}