body {
    background-color: chocolate;
    color: brown;
}
h1 {
    color: blue;
}
#poseban {
    color: aqua;
}
.klasa {
    color: bisque;
}




/* 

# - id="" za tacno neki tag
. - class="" za vise puta

*/